<style>

</style>


<section>

    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-center align-content-center">
                <div>
                    <h1><b style="color:red">TRUC</b><b style="color:black">KERS</b>  <b style="color:green"> LOGIS</b><b style="color:black">TICS</b> <b style="color:black"> LTD.</b></h1>

                    <div class="d-flex justify-content-center align-content-center">
                        <h3><b>New Shippment Request</b></h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="pt-5"></div>
        <div class="row">

            <div class="card shadow-lg p-3 mb-5 bg-white rounded border  border border-success rounded-top">
                <div class="card-body">
                    <div class="d-flex justify-content-center align-content-center">
                        <div class="container">
                            <div class="row">
                                <div class="form-outline mb-4">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <label class="form-label" for="form2Example2"><h4><b>Shippment ID#</b></h4></label>
                                        </div>

                                        <div class="col-md-4 d-flex justify-content-start ">
                                            <p><b>HELLO</b></p>
                                        </div>
                                    </div>
                                    

                                </div>



                           
                                <div class="col-md-4">
                                    <label class="form-label" for="form2Example2"><h3><b>Shippment Name:</b></h3></label>
                                        </div>

                                        <div class="col-md-4 d-flex justify-content-start ">
                                            <p><b>HELLO</b></p>
                                        </div>

                                <div class="p-2">
                                </div>

                                <div class="col-md-4">
                                    <label class="form-label" for="form2Example2"><h3><b>VENDER  NAME:</b></h3></label>
                                </div>
                                <div class="col-md-4 d-flex justify-content-start ">
                                    <p><b>HELLO</b></p>
                                </div>




                                <div class="row">
                                    <div class="col-md-4">
                                        <label class="form-label" for="form2Example2"><h4><b>Request By:</b></h4></label>
                                    </div>
                                    <div class="col-md-4 d-flex justify-content-start ">
                                        <p><b>HELLO</b></p>
                                    </div>

                                    
                                </div>
                                <div class="p-2">
                                </div>

                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="d-flex justify-content-start align-content-center">
                                            <div class="btn btn-outline-success border rounded-pill border border-success" style="width:200px">
                                                <b>DENY</b>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-8"></div>
                                    <div class="col-md-2">
                                        <div class="d-flex justify-content-start align-content-center">
                                            <div class="btn btn-success border rounded-pill" style="width:200px">
                                                <b>  APPROVE</b>
                                            </div>
                                        </div>

                                    </div>
                                </div>





                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>