<style>
   
</style>


<section>
      
    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-center align-content-center">
                <div >
                    <h1><b style="color:red">TRUC</b><b style="color:black">KERS</b>  <b style="color:green"> LOGIS</b><b style="color:black">TICS</b> <b style="color:black"> LTD.</b></h1>
                   
                    <div class="d-flex justify-content-center align-content-center">
                        <h3><b>New Shippment Request</b></h3>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="pt-5"></div>
        <div class="row">

            <div class="card shadow-lg p-3 mb-5 bg-white rounded border  border border-success rounded-top">
                <div class="card-body">
                    <div class="d-flex justify-content-center align-content-center">
                        <div class="container">
                            <div class="row">
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form2Example2"><b>NAME</b></label>
                                    <input type="text" id="form2Example2" placeholder="Enter your Name  " class="form-control" />

                                </div>



                                <div class="p-2">
                                </div>
                                <label class="form-label"  for="form2Example2"><b>City from</b></label>
                                <select class="form-select" id="selectField" aria-label="Default select example">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>


                                <div class="p-3">

                                </div>
                                <label class="form-label" for="form2Example2"><b>Vender To</b></label>
                                <select class="form-select" id="selectField" aria-label="Default select example">
                                    <option selected>Open this select menu</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                </select>

                                <div class="p-4">
                                </div>

                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="d-flex justify-content-start align-content-center">
                                            <div class="btn btn-outline-success border rounded-pill border border-success" style="width:200px">
                                                DISCARD
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-8"></div>
                                    <div class="col-md-2">
                                        <div class="d-flex justify-content-start align-content-center">
                                            <div class="btn btn-success border rounded-pill" style="width:200px">
                                                SAVE
                                            </div>
                                        </div>

                                    </div>
                                </div>





                            </div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
    </div>

</section>